/* STYLE FOR AMAR&LLO

@brand-primary: #F7B413; (amarillo)
@brand-success: ; (gris)
font-family: 'Lato', sans-serif;

*/

/* GEN POP */

body {
	font-family: 'Lato', sans-serif;
	color: #525252;
	font-size: 15px;
}

/* HEADINGS */

/* COLORS */

/* BUTTONS */

/* TYPO */

/* POSITION */

.m-top-lg {
	margin-top: 50px;
}

/* BG */

.bg-madera {
	background: url('../img/bg-madera-yellow.jpg') no-repeat 50% 0;
}
.bg-frame {
	background: url('../img/text-frame.jpg') no-repeat 0 0;
	background-size: 100%;
    padding: 70px 70px;
}
.bg-flowers {
	background-image: url('../img/flower-left.jpg'), url('../img/flower-right.jpg');
	background-repeat: no-repeat,no-repeat;
	background-position: 0 100%, 100% 20%;
	padding: 100px;
}

/* LISTS */

ul.ribbon {
	padding-left: 0;
	text-align: center;
	margin-top: 20px;
}
ul.ribbon li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 4px;
	margin-right: 20px;
}

/* HEADER */

.navbar {
    margin-bottom: 0;
    border: none;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-right {
	color: #fff;
	position: absolute;
    top: 0;
    right: 0;
    padding-left: 15px;
    margin-right: 0px;
}
.navbar-left {
	float: none !important;
	text-align: center;
	margin-top: 15px;
}
.navbar-left>li {
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.navbar-default .navbar-nav>li>a {
	color: #BE9F66;
	font-size: 15px;
	letter-spacing: 3px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #F7B413;
	background: url('../img/heart.png') no-repeat 50% 15%;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 35px;
}
.navbar-default .navbar-right>li>a {
	color: #fff;
	font-size: 20px;
}
.navbar-default .navbar-right>li {
	background-color: #F7B413;
}
.navbar-default .navbar-right>li:first-of-type {
	background-color: #fff;
	margin-right: 20px;
}
.navbar-default .navbar-right>li:first-of-type>a:hover {
	background-image: none;
}
.navbar-right>li>a {
    position: relative;
    display: block;
    padding: 40px 7px 40px;
}
.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}
.navbar-default .navbar-right>li>a.ico-left {
	padding-left: 25px;
}
.navbar-default .navbar-right>li>a.ico-right {
	padding-right: 25px;
}

/* FOOTER */

/* CONTENT */
